#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 2rem;
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
  margin-right: 2rem;
  color: aliceblue;
  font-weight: bold;
}

.wallet-controls {
  display: flex;
  gap: 1rem;
}

main {
  display: flex;
  justify-content: center;
}
